[2016-09-22 16:26] Villanuevand opened #1 "README.md"
Actualizar `readme.md`.

[2016-09-27 04:21] leocabeza opened #2 "Saludar a los miembros, al entrar al grupo de ngVenezuela"
Una simple funcionalidad que permita escuchar el evento de 'nuevo miembro' para poder saludarlo en el chat.

[2016-09-27 04:23] leocabeza opened #3 "Agregar encuesta para nuevos miembros"
A la hora de que un miembro entre al grupo de ngVenezuela, hacerle una mini-encuesta para saber como llego al grupo y guardar estos resultados para luego ser consultados.

[2016-09-27 05:01] Royedc4 opened #4 "Preguntar Ubicación para meetups"
Solicitar información sobre ubicación a cada miembro para unirnos localmente y hacer meetups

[2016-09-27 19:08] Villanuevand commented on #1
@leocabeza Tengo un gist de base para el este issue, lo puedo colocar, y mientras vayamos avanzando lo vamos llenando ...
¿Que opinas?

[2016-09-27 19:31] leocabeza commented on #1
Si, me parece buena idea @Villanuevand

[2016-09-28 13:53] leocabeza opened #11 "Implementar Unit testing"
Implementar pruebas de Unit Testing

[2016-09-28 14:09] Villanuevand opened #12 "Traducción en readme.md"
Traducir los textos que están en ingles en `readme.md`.

[2016-09-28 14:13] Villanuevand commented on #1
Se agrego una plantilla base para el `readme.md`.
Queda pendiente realizar en ISSUE #12

[2016-09-28 14:13] #1 closed, assigned to Villanuevand

[2016-09-28 17:11] Villanuevand opened #13 "Creación de lineamientos para `contributing.md`"
Se deben crear los lineamientos para el archivo de contribuciones `contributing.md`.

Este debe contener la siguiente información:
- [x] Lineamientos para commits.
- [x] Lineamientos para crear pull request (Plantilla).
- [x] Lineamientos para crear issues (Plantilla).

[2016-09-28 18:12] leocabeza commented on #2
Esto se implementó en d4b899f

[2016-09-28 18:12] #2 closed, assigned to leocabeza

[2016-09-30 12:38] Villanuevand opened #22 "Agregar: "use strict; fallback""
Para correr typescript aún sino lo tienes actualizado.

[2016-09-30 12:48] kkoci commented on #22
Hola, buenos días, ¿En cual rama lo puedo hacer? Hay varias, Saludos

[2016-10-02 16:47] Villanuevand commented on #22
Aceptado  en `PR` #24

Te invitamos a volver  a mirar  el `contributing.md` con nuevas actualizaciones y ejemplos en [este enlace](https://github.com/ngVenezuela/wengy-ven/blob/master/.github/CONTRIBUTING.md)

[2016-10-02 16:47] #22 closed, assigned to kkoci

[2016-10-02 17:20] kkoci commented on #22
Excelente, gracias! Seguro que si

[2016-10-02 17:56] Villanuevand commented on #12
Cerrado en #27

[2016-10-02 17:56] #12 closed, assigned to Villanuevand, leocabeza

[2016-10-19 13:27] leocabeza opened #28 "Dar los buenos días"
**Estoy enviando un ...**  (marque con una "x")

[code]

**Comportamiento Actual**
NO APLICA

**Comportamiento Esperado**
Dar los buenos días

**Reproducción del Problema**
NO APLICA

**Cual es el motivo / Caso util para cambiar el comportamiento?**
¿Qué mejor manera de comenzar el día que wengy-ven te dé los buenos días? Pienso que está es una característica sencilla de implementar

**Por favor c

[2016-10-19 13:29] leocabeza opened #29 "Publicar feed de Twitter en el grupo"
**Estoy enviando un ...**  (marque con una "x")

[code]

**Comportamiento Actual**
NO APLICA

**Comportamiento Esperado**
Si alguien hace un post en Twitter, mostrar el tuit en el grupo.

**Reproducción del Problema**
NO APLICA

**Cual es el motivo / Caso util para cambiar el comportamiento?**
Pienso que sería mejor hacer esto automático, que obligar al usuario a revisar el feed constantemente. Ig

[2016-10-19 13:46] hostelix commented on #28
En que intervalo de hora dara los buenos dias? o los dara cada vez que algun miembro escriba "buenos dias comunidad" ?

[2016-10-19 13:53] jobsamuel commented on #28
Sugiero dar los buenos días dentro de un rango de tiempo (ej: entre 7:00 - 8:00 AM) **sólo si** nadie ha dicho los _buenos días_ o escrito algo. Sería como romper el silencio. Considero que sería más humano y menos molesto a lo largo del tiempo.

[2016-10-19 14:07] Villanuevand commented on #28
Alguien alguna vez comentó: Que deberíamos humanizar a wengy...
@leocabeza , que tal si hacemos un **milestone** y categorizamos estos _issues_ ahí?
Todo lo que tiene que ver con darle "inteligencia" a wengy...

Estoy atento a tu comentario  Leonardo...

[2016-10-19 14:27] leocabeza commented on #28
Estoy de acuerdo con la estrategia que propone @jobsamuel, @hostelix. Imagino que hablamos de las GMT -4 (Hora de Venezuela)

[2016-10-19 14:32] leocabeza commented on #28
@Villanuevand, habría que tomar en cuenta que ese _milestone_ "Humanizar a wengy" no tendría una fecha tope, y por lo tanto, en mi opinión, no cumpliría con la definición de milestone. Me parece que quedaría mejor como una **categoría**.

[2016-10-19 14:36] Villanuevand commented on #28
@leocabeza si, realmente ninguno de los _milestones_ tiene fecha tope, por razones obvias. Tienes razón, pero podemos pensar un grupo de tareas para hacer interacción básica...

[2016-10-19 15:35] jobsamuel commented on #28
Tal vez me equivoque, como suele suceder @Villanuevand, pero... ¿no sería mejor _wengy-ux_ un mejor nombre para esa categoría? Ya que se intenta mejorar la experiencia del usuario mas no la interacción; eso ya lo está haciendo con cada mejora. Claro, tal vez esté viendo las cosas desde otra perspectiva y esté totalmente errado.

[2016-10-19 15:36] jobsamuel commented on #28
Sí @leocabeza, por lo menos yo voto porque se utilice **GMT -4**, ya que, por mas que un gran porcentaje esté fuera del país, la comunidad es venezolana :venezuela:

[2016-10-19 15:52] Villanuevand commented on #28
@jobsamuel, Tienes razón eliminamos el _milestone_ y buscamos un _label_ adecuado.

[2016-10-24 12:44] #28 closed, assigned to leocabeza

[2016-10-28 14:24] leocabeza opened #35 "Escribir un mensaje al grupo, cuando se haga un release de una nueva versión de Angular"
**Estoy enviando un ...**  (marque con una "x")

[code]

**Comportamiento Actual**
NO APLICA

**Comportamiento Esperado**
Escribir un mensaje, cuando salga una nueva versión de angular 1.x o 2.x

**Reproducción del Problema**
NO APLICA

**Cual es el motivo / Caso util para cambiar el comportamiento?**
NO APLICA

**Por favor cuentamos sobre tu ambiente de desarrollo:**
NO APLICA

[2016-10-28 14:52] leocabeza opened #36 "Crear un Gist automáticamente, cuando el usuario coloca código en el chat"
**Estoy enviando un ...**  (marque con una "x")

[code]

**Comportamiento Actual**
NO APLICA

**Comportamiento Esperado**
Escuchar un mensaje que cumpla el formato de que es algún codigo o snippet, y subir ese código a gists, luego responder al usuario con ese enlace que se creó. No lo veo muy díficil de implementar:
https://developer.github.com/v3/gists/#create-a-gist

**Reproducción del Problema

[2016-10-28 15:13] Villanuevand commented on #36
Uy! este está muy interesante...
Pero @leocabeza ..
¿Cómo sabes que es codigo? ...

[2016-10-28 15:45] leocabeza commented on #36
@Villanuevand quizás alguna expresión regular, hay muchas palabras de JS y AngularJS que son propias del lenguaje/framework.

[2017-01-11 19:00] leocabeza opened #39 "Publicar un mensaje en el grupo cuando se publique una nueva entrada en el blog."
**Estoy enviando un ...**  (marque con una "x")
[code]

**Comportamiento Actual**
NO APLICA

**Comportamiento Esperado**
Publicar un mensaje en el grupo cuando se publique una nueva entrada en el blog.

**Reproducción del Problema**
NO APLICA

**Cual es el motivo / Caso util para cambiar el comportamiento?**
Hacerle saber a la comunidad cuando hay una nueva entrada en el blog.

**Por favor cuentam

[2017-01-15 17:54] #39 closed, assigned to leocabeza

[2017-02-05 02:59] osnoser1 commented on #35
Lo muuuy poco que he leído es que si utilizar superfeedr y este enlace: https://github.com/angular/angular/releases.atom
Aparentemente superfeedr usa webhooks?...

Pero no tengo idea de si es viable y si por ahí van los tiros.

¿Qué piensan?

[2017-02-05 14:19] Villanuevand commented on #35
Esta buena esa opción @osnoser1 , lo que habría que hacer es que wengy parsee el xml, @leocabeza que opinas?

[2017-02-05 14:24] #13 closed, assigned to Villanuevand

[2017-02-06 03:28] leocabeza commented on #35
Se ve fácil y _doable_ en un tiempo razonable.

[2017-02-06 03:31] Villanuevand commented on #35
@leocabeza  Deberiamos buscar algun servicio que nos avise sin necesidad de tener que estar mirando el feed y parseandolo.

[2017-02-06 03:42] leocabeza commented on #35
Qué me corrija alguien si me equivoco, pero la única manera de hacer esto es mediante un webhook en github dentro del repo de angularjs, de lo contrario toca estar mirando el feed y parseandolo. @Villanuevand

[2017-02-06 14:08] osnoser1 commented on #35
Esa es mi idea principal, utilizar superfeedr  o algún servicio similar que utilice webhooks para dos cosas:

1. Obtener en tiempo real información cuando actualicen Angular.
2. No tener que estar consultando cada cierto tiempo el repositorio.

El enfoque que yo veo es, suscribirse a los cambios de contenido con superfeedr al enlace .atom que publiqué, y en teoría superfeedr en lo que detecte un c

[2017-02-06 14:38] leocabeza commented on #35
Si, @osnoser1 , me refiero al webhook dentro del repo de angularjs, al cual nadie tiene acceso.
Creo que la solución con superfeedr, en este caso, es la mejor opción.

[2017-02-07 01:33] osnoser1 commented on #35
¿Tienen planes de implementar esta característica en el corto plazo?
De no ser así puedo trabajar en ella...

[2017-02-07 02:29] leocabeza commented on #35
Pues yo personalmente, no. Entonces hágale y cualquier duda avisas. @osnoser1

[2017-02-07 10:22] Villanuevand commented on #35
Listo @osnoser1 el issue está asignado a tí.
Cualquier duda o ayuda que necesites, puedes hacer `mention` en otro un comentario a cualquiera.

[2017-04-27 18:27] dianjuar commented on #29
Yo utilizo un bot de telegram para esto, se llama [@tweets_bot](https://t.me/tweets_bot)
Claaaro es de uso personal.

No se si este bot se pueda incluir en el grupo o tenga alguna función para hacer esta misma funcionalidad en el grupo si se le invita.

[2017-04-27 18:39] leocabeza commented on #29
Creo que sería mejor si se implementa la funcionalidad dentro del mismo bot, y no utilizar el tercero @dianjuar .

"No debería ser tan difícil"... https://www.npmjs.com/package/twitter y utilizar el stream API.

[2017-04-28 12:41] jobsamuel commented on #36
Tal vez se podría simiplicar todo con tan sólo verificar si un mensaje tiene:

Además, se verifica si el string dentro de esas "comillas" tiene una longitud considerable, con el objeto de evitar crear gists cuando alguien las use para enviar una URL, nombre expresión, etc.

[2017-04-28 12:52] Villanuevand commented on #3
Podríamos crear una encuesta usando Google Form, y en el mensaje de bienvenida, darle el enlace para que el nuevo miembro la llene. ¿Que dicen?

cc
@Skatox @abr4xas @JMEspiz @jobsamuel

[2017-04-28 12:55] abr4xas commented on #3
+1 me parece bien :D

----
ángel cruz
http://blog.abr4xas.org
GNU/Linux counter #50841
1CKAD1wr9cajXDp5Am3c11GU25peGTB67k

On Fri, Apr 28, 2017 at 8:52 AM, Andrés Villanueva <notifications@github.com

[2017-04-28 13:02] jobsamuel commented on #3
Me parece chevere, pero que tal si en vez de utilizar Google Forms hacemos esto:

- Cada vez que un nuevo miembro entre, Wengy le pregunta: _cómo llegó al grupo_.
- Wengy registra los mensajes posteriores a esa respuesta o replies.
- Se guarda ese registro en alguna DB (e.j.: Firebase o una spreadsheet del Google Form).

La idea es hacer todo exageradamente fácil para obtener la mayor cantidad de

[2017-04-28 13:43] Villanuevand commented on #3
@jobsamuel

Pero esto no afectaría el timeline del grupo?.

[2017-04-28 13:44] jobsamuel commented on #3
¿Cómo así @Villanuevand ? :thinking:

[2017-04-28 13:47] Villanuevand commented on #3
@jobsamuel

Si la persona hace reply, veriamos su respuesta,  y si son varias preguntas?  No sería una especie de spam...
Ojo, estoy pensando ya en el hecho no comentado, de que se podría colocar más de 1 pregunta en la encuesta. Cosa que no estaba estipulada.

[2017-04-28 13:52] jobsamuel commented on #3
La propuesta está pensada en una sola pregunta @Villanuevand , la cual no alteraría en lo absoluto el _timeline_ ya que sería lo mismo que poner un link para una encuesta. Para 2 o más preguntas no tengo la solución, aún :disappointed:

[2017-04-28 13:58] Villanuevand commented on #3
@jobsamuel

Tienes razón, entonces podemos decir que:

Una vez que el nuevo miembro llega, se le envía 2 mensajes:
 - Mensaje de Bienvenida habitual.
 - Mensaje com la pregunta, haciendole `@mention` al nuevo miembro.

Especificando en el segundo mensaje, debemos especificar que para contestar la encuenta solo debe hacer  `reply`.

¿Ese sería el criterio?

cc @leocabeza

[2017-04-28 14:02] jobsamuel commented on #3
Sólo falta verificar (o confirmar), que el API de Telegram retorne la ID o alguna referencia del mensaje al cual se le hace reply. Si es es 100% posible, entonces estaremos estupendo :metal:

[2017-04-28 14:54] leocabeza commented on #3
Si es posible @jobsamuel, lo qué pasa es que hacerlo así tomaría más tiempo (hay muchas cosas aquí, el usuario puede no responder, responder sin hacer mención a wengy, no contestar con el primer reply, conectar con firebase).

La idea del enlace de Google forms que propuso @Villanuevand me parece mucho más fácil de implementar.

Dicho lo anterior, creo que sería mejor que el usuario hiciera todo s

[2017-04-28 14:58] leocabeza commented on #36
Creo que si sólo vamos a tomar en cuenta el código que tenga

No es tan mala opción. Definimos una longitud fija, y que cree el gist con: https://developer.github.com/v3/gists/#create-a-gist

[2017-04-28 15:05] jobsamuel commented on #3
Claro que **no será fácil** @leocabeza , pero será un reto divertido que podrá tener otros casos de uso. Sin embargo, conectar con Firebase es un viaje (fácil) en caso que se decida utilizarlo, y las respuestas sin mención u otras variaciones simplemente se descartan para la primera versión. Sólo se aceptan los replies ideales y listo.

Además, considero que es la única solución elegante que cumpl

[2017-04-28 15:12] dianjuar commented on #3
Opino, que la propuesta de Google Form es bastante buena.
Se puede implementar ya mismo sin ninguna dificultad. Se tiene un prototipo totalmente funcional en muy poco tiempo (menos de 1 hora).
Se puede implementar mientras se desarrolla el reply al bot, así se puede obersvar la aceptación de los nuevos miembros, calidad de preguntas, etc...

[2017-04-28 15:16] jobsamuel commented on #3
Chévere @dianjuar :raised_hands: Primero la opción fácil y luego la _"dificil"_ con el objeto de validar la aceptación. Te apoyo :100:

[2017-04-28 15:17] Villanuevand commented on #3
Ok, me parece bastante salomónica lo que comenta @dianjuar

Aquellos a favor de implementar un Google Form, como primer version...

Votar con 👍  o con 👎    en este comentario...

cc @leocabeza  @jobsamuel  @dianjuar @abr4xas

[2017-04-28 15:17] leocabeza commented on #3
Ok, entonces... ¿Quien hace el Google Form con las preguntas?

[2017-04-28 15:18] jobsamuel commented on #3
Debería hacerlo @Villanuevand por proponerlo :smile:

[2017-04-28 15:22] Villanuevand commented on #3
@jobsamuel :

¡Jajajaja! sin problemas...

[2017-04-28 15:41] Villanuevand commented on #3
### Pregunta
¿Cómo te enteraste de ngVenezuela?

### Opciones

- Twitter
- Facebook
- Google
- Medium
- OpenVE - Comunidades Telegram
- Un amigo

[2017-04-28 18:39] dianjuar commented on #3
@Villanuevand No hace falta la opción [Comunidades Telegram](https://github.com/OpenVE/comunidades-en-telegram) ?

Yo entré por ahí.

[2017-04-28 18:52] Villanuevand commented on #3
@dianjuar  ¡Listo! Modificado mensaje...

¡Mil gracias!

[2017-04-28 18:58] dianjuar commented on #3
Tocando el tema de los reply del bot, de qué pasa cuando sean muchas preguntas y si esto afectará el timeline del grupo, Tengo la solución...

**Que el usuario responda todo esto de manera privada al bot...**

### Cómo se hace?
Cuando entre Wegny le da la bienvenida, le dice lo que le tenga que decir como siempre se ha hecho.
Luego en un segundo mensaje para que el usuario no se pierda entre tanta

[2017-04-29 12:25] abr4xas commented on #3
Hola amiwitos, vengo yo a preguntar algo que no se si ya lo escribieron pero como escribieron mucho me da algo de flojera leer...

No es más facil (_digo yo_) enviarle un PV a esa persona con todo lo que se le quiera preguntar?

[2017-04-29 12:32] jobsamuel commented on #3
@abr4xas debes leer :grimacing:

[2017-05-02 10:45] Villanuevand commented on #11
¿Algún framework de preferencia? O tenemos rienda suelta?

[2017-05-02 10:46] Villanuevand commented on #3
Cerrado en #43

[2017-05-02 10:46] #3 closed, assigned to Villanuevand, leocabeza

[2017-05-02 14:34] leocabeza commented on #11
Creería que cualquiera con buena documentación estaría bien

[2017-05-02 23:39] davidjsalazarmoreno commented on #11
Jest 😀https://facebook.github.io/jest/

[2017-05-02 23:47] Villanuevand commented on #11
@davidjsalazarmoreno ¿Tienes experiencia con Jest?

[2017-05-03 00:05] davidjsalazarmoreno commented on #11
@Villanuevand Si, aunque cero experiencia con bots, podría montar un PR.

Quizás también exista algún testing framework especifico para los bots pero Jest me parece bastante multi-proposito y con buena curva de aprendizaje.

EDIT: Ya estoy en ello.

[2017-05-03 01:15] davidjsalazarmoreno commented on #11
[PR por aquí](https://github.com/ngVenezuela/wengy-ven/pull/47)

[2017-05-03 12:49] Villanuevand commented on #11
Aunque ya se implement unit test, creo que debemos cerrar este issue, y abrir una epica, para agregar las tareas de todas las cosas que se deben de testear.
Y así tener todo lo referente a test, organizado.

¿Que opinan?

cc @leocabeza  @davidjsalazarmoreno  @jobsamuel

[2017-05-03 15:36] davidjsalazarmoreno commented on #11
¡Fino!, me parece bien.

[2017-05-03 20:58] davidjsalazarmoreno commented on #36
En serio que este issue está bastante interesante, he montado una prueba de concepto en [ngve-issue-36-gist](https://github.com/ngVenezuela/wengy-ven/tree/ngve-issue-36-gist), para crear un gist público y anonimo sería así /gist códigoAqui.

[code]
Resultado:
https://gist.github.com/0c67353de991620c49afc7b44ae37243

No tengo idea cómo detectar los ``` 😂, es decir lo intenté con Regex (  /\`{1,3}(.

[2017-05-04 03:28] dianjuar opened #49 "Mal renderizado al mensaje de bienvenida de wengy"
[code]

**Comportamiento Actual**
Como se ve en la imagen, el mensaje que envía wengy a los nuevos usuarios tiene saltos de línea entre oraciones.
![image](https://cloud.githubusercontent.com/assets/7026066/25689296/cda8ac92-3054-11e7-81df-3c750fc22f10.png)

**Comportamiento Esperado**
Que el mensaje no tenga saltos de línea entre las oraciones..
Cuando yo entré no pasaba

![image](https://cloud.g

[2017-05-04 12:10] Villanuevand commented on #49
@dianjuar  ¡Buen día!
Me tomé el abuso de asignarte esta incidencia, por el alto grado de conocimiento sobre la misma.

Es importante que nos notifiques cuando comenzarás a desarrollar, para mover la tarjeta en el project... Cualquier otra duda adicional que tengas sobre cómo es el proceso de colaboración avisame...

¡Quedo atento a tus comentarios!

[2017-05-04 12:43] davidjsalazarmoreno commented on #36
¿Qué piensan? @leocabeza @jobsamuel @Villanuevand

[2017-05-04 12:49] Villanuevand commented on #36
@davidjsalazarmoreno ¡Brutal que le estás metiendo el pecho a este issue!

Por que no intentas con el ascii `/\u0060/` ?

Te asignaré este issue, ¿te parece?

[2017-05-04 12:51] Villanuevand commented on #11
Se cierra esta incidencia, y se crea una épica, para agrupar los componentes a testear.

[2017-05-04 12:51] #11 closed, assigned to Villanuevand

[2017-05-04 13:01] davidjsalazarmoreno commented on #36
Fino @Villanuevand, asignalo, voy a intentar con el  ASCII a ver.

[2017-05-04 13:40] Villanuevand opened #50 "Mejora en Template para issues. 🔖"
**Estoy enviando un ...**  (marque con una "x")

- [ ] Error reportado (Haz referencia al issue)

- [x] Solicitud de caracteristica, mejora.

**Comportamiento Actual**
Tanto el _TEMPLATE_ISSUES_ como el _TEMPLATE_PULL_REQUESTS_ poseen la misma estructura. Lo cual puede ser confuso y no se ajusta a las caracteristica de cada evento.

**Comportamiento Esperado**
TEMPLATES distintos, según el evento,

[2017-05-04 14:13] dianjuar commented on #36
Hola @davidjsalazarmoreno, puedes usar [regex101.com](regex101.com) para probar tus expresiones regulares, incluso compartirlas dado el caso que quieras pedir ayuda o te quedes atorado.

[2017-05-04 14:17] leocabeza commented on #36
Faltaría también tomar en cuenta la longitud del texto antes de mandar el gist @davidjsalazarmoreno

[2017-05-04 14:24] Villanuevand commented on #36
¿Pregunta? @davidjsalazarmoreno  ❓
Se podrá colocar algún _Prefijo_ o _Sufijo_ en el nombre del gist? ... ❓

[2017-05-04 14:30] Villanuevand opened #51 "Conocer cuando un usuario se va de la comunidad, para saludarlo 🙂"
**Estoy enviando un ...**  (marque con una "x")

-  Error reportado (Haz referencia al issue)

- ✅ Solicitud de caracteristica, mejora.

**Comportamiento Actual**
No hay mensaje de notificación cuando un usuario se va del grupo.

**Comportamiento Esperado**
Recibir un mensaje notificando cuando un usuario se ha ido.

**Reproducción del Problema**
_No Aplica_

**Cual es el motivo / Caso util para c

[2017-05-04 14:34] JuanDelgadillo commented on #51
Solo por chismear 😂

[2017-05-04 14:38] Villanuevand commented on #51
@JuanDelgadillo ¡Tu conoces mi sinceridad! ...

@leocabeza  ... ¡Estaba investigando para hacerlo yo!  😪

[2017-05-04 15:13] leocabeza commented on #51
Bueno, si lo vas a hacer, asignatelo @Villanuevand!

[2017-05-04 16:01] davidjsalazarmoreno commented on #36
@dianjuar si de hecho ayer la había probado allí y parece funcionar bien, a pesar de eso el evento onText no se dispara, ¿quizás es que está enviando no es el markdown sino el html ya compilado (el tag pre)?, voy a chequear eso.

[https://regex101.com/r/zHKllf/1](https://regex101.com/r/zHKllf/1)

@leocabeza ¿de cuánto le colocamos el limite?, ¿doscientos caracteres?.

@Villanuevand En la prueba de

[2017-05-04 16:15] leocabeza commented on #36
Yo creo que sería mejor no darle la opción al usuario, no sé la razón por la cual @Villanuevand hizó la pregunta. @davidjsalazarmoreno.

Yo pienso que si podríamos empezar con 200 👍

[2017-05-04 16:24] Villanuevand commented on #36
@leocabeza ,

Mi pregunta fué solo por curiosidad...

cc  @davidjsalazarmoreno

[2017-05-04 18:58] davidjsalazarmoreno commented on #36
Yaaa que tonto, no era la expresión que estaba fallando, el bot que estaba utilizando para pruebas tenía la privacidad activada por eso no se disparaba el evento para los mensajes del grupo de pruebas (mala mía XD).

Un gist se crea automáticamente cada vez que se envía un mensaje con ``` código ``` sólo si no supera los 200 caracteres de longitud.

En la descripción del gist se usan los datos del

[2017-05-04 19:23] leocabeza opened #53 "Definir una guía de estilo o convención"
**Estoy enviando un ...**  (marque con una "x")
[code]

**Comportamiento Actual**
Se usa ESLint con config de airbnb y algunas reglas personalizadas.

**Comportamiento Esperado**
Definir entre todos una guía de estilo adecuada para trabajar con ella.

**Reproducción del Problema**
No aplica

**Cual es el motivo / Caso util para cambiar el comportamiento?**
Inconsistencia entre código entre devs

*

[2017-05-04 19:33] Villanuevand commented on #53
¿Cuales son los puntos a tener en cuenta para poder dar como **Hecho** esta incidencia?

[2017-05-04 19:39] davidjsalazarmoreno commented on #4
Esta también se ve interesante, ¿podrían por favor expandirla para entender la mejora?.

[2017-05-04 21:18] davidjsalazarmoreno commented on #53
¿https://standardjs.com?, aunque si ya están usando la de airbnb pues seguir con esa.

[2017-05-05 04:01] dianjuar commented on #49
@Villanuevand I'm working on it.

[2017-05-05 05:08] dianjuar commented on #50
Apoyo totalmente esto... Las plantillas actuales son muy extensas, burocráticas y a veces no vienen al caso...

Parecen sacadas de un libro de una metodología formal

[2017-05-05 10:19] Villanuevand commented on #50
Todos los que quieran participar en esto, estaría genial. Como venimos haciendo en otros issues,  los comentarios son todo nuestros! 😎

[2017-05-05 10:20] Villanuevand commented on #49
Cerrado en PR #54

[2017-05-05 10:20] #49 closed, assigned to yossely, dianjuar

[2017-05-05 12:53] Villanuevand commented on #36
Solventado en #52

[2017-05-05 12:53] #36 closed, assigned to davidjsalazarmoreno

[2017-05-06 02:11] dianjuar commented on #50
y si nos basamos en algún proyecto muy activo a nivel de contribuciones?

El mismo [Angular](https://github.com/angular/angular), [Ruby on Rails](https://github.com/rails/rails), [Nativescript {N}](https://github.com/NativeScript/NativeScript) ...

[2017-05-06 03:29] Villanuevand commented on #50
El método de commits, recomendado en el contributing.md esta basado en Angular.
POdríamos  buscar una guía de estilos, quizas la de [airbnb](https://github.com/airbnb/javascript)?

[2017-05-08 18:10] leocabeza opened #55 "Crear un comando para mostrar el enlace a las comunidades de OpenVE"
**Estoy enviando un ...**  (marque con una "x")
[code]

**Comportamiento Actual**
No existe comando para tal acción

**Comportamiento Esperado**
Al recibir un comando, tipo `/comunidades`, que el bot responda con el enlace (https://github.com/OpenVE/comunidades-en-telegram) al usuario.

**Reproducción del Problema**
No aplica

**Cual es el motivo / Caso util para cambiar el comportamiento?**
Debid

[2017-05-09 15:59] osnoser1 opened #57 "Uso de SemVer"
**Estoy enviando un ...**  (marque con una "x")
[code]

**Comportamiento Actual**
La última versión publicada es la 1.0.2.

**Comportamiento Esperado**
Debido a que se añaden características y solución de errores compatibles hacia atrás la nueva versión debió ser 1.1.0.

**Reproducción del Problema**
_No aplica_

**Cual es el motivo / Caso util para cambiar el comportamiento?**
_No aplica_

**Por

[2017-05-09 16:10] Villanuevand commented on #57
@osnoser1  Precisamente estabamos hablando de ello...

[2017-05-09 16:20] Villanuevand commented on #57
Acá los cambios introducidos en el último despliegue a producción:

- Se publica una entrada en el grupo cuando se publica una entrada en https://medium.com/ngvenezuela #39. (mejora)
- Se le envía una encuesta a los nuevos miembros de la comunidad #3. (mejora)
- Se implementó Jest para Unit testing #11. (mejora)
- Se corrigió el renderizado del mensaje de bienvenida #49. (Error)
- Se crea automáti

[2017-05-09 16:39] osnoser1 commented on #57
Lo que pienso es lo siguiente:

Si se hace un deploy por cada commit que se hizo el incremento de versión se haría de la forma que comentas.

Pero si de la última versión que fue 1.0.1 se hizo un despliegue después de todos los commits que se comentan entonces debería cambiar a 1.1.0.

Fíjate que en `La versión minor Y (x.Y.z | x > 0)` dice:

Ahora, dice también:

Lo que significa que puede conten

[2017-05-09 16:45] leocabeza commented on #57
Me queda más claro como lo comenta @osnoser1. La pregunta sería: ¿Se puede cambiar el tag de una vez o se hace desde el siguiente release?

[2017-05-09 16:54] osnoser1 commented on #57
Pienso que sería mejor desde el siguiente release.

[2017-05-09 16:57] Villanuevand commented on #57
Estoy mirando los releases de proyectos conocidos y en la mayoría, se nota organización en los tags, ya que los que aumentan de patch, solo hacen "bug fixing", y los que aumenta de minor, se abocan exclusivamente desarrollar nuevas funcionalidades retocompatibles.

Así que lo que dice @osnoser1  tiene bastante sentido.
La versión actual debería ser la `1.1.0`.

Para próximas iteraciones deberiamos

[2017-05-09 17:05] dianjuar commented on #29
### Me asignaré este issue.
La verdad publican cosas interesantes en el twitter, motiva cuando uno comparte información y ustedes la twittean.

Me parece un buen improvement.

--------------

@Villanuevand puedes mover el card.

[2017-05-09 17:11] osnoser1 commented on #57
Con respecto a cambiar el tag ahorita o en el siguiente release, imagina que ya se generó la versión y esa le llegó a cientos de personas, si se cambia aquí en github generaría un conflicto con respecto a las versiones desplegadas y lo que está aquí.

Quizá, otra alternativa sería generar una nueva versión ahorita mismo, desplegar para corregir el versionado. Estilo Angular, algo así.

[2017-05-09 17:12] leocabeza commented on #57
También de acuerdo con @Villanuevand que se haga el cambio de una. Y se tome en cuenta para los siguientes releases el uso de SemVer.

[2017-05-09 17:13] leocabeza commented on #57
También me gusta esa idea @osnoser1 . ¿Quizás generar una v1.1.1?

[2017-05-09 17:13] dianjuar opened #58 "Notificar en el grupo cuando wengy tenga un nuevo release."
**Estoy enviando un ...**  (marque con una "x")
[code]

**Comportamiento Actual**

 _No aplica_

**Comportamiento Esperado**

 _No aplica_

**Cual es el motivo / Caso util para cambiar el comportamiento?**

Al implementarlo se logra
- Que todos los miembros de la comunidad se enteren de las nuevas mejoras de wengy
- Dar impresión de ser una comunidad activa.
- Motivar a otros miembros a contribuir

[2017-05-09 17:14] Villanuevand commented on #57
Me gusta la idea de generar una version `1.1.1`

[2017-05-09 17:15] osnoser1 commented on #57
Me parece bien.

Hay otras cosas que pienso que se deberían hacer en el despliegue y versionado, pero ya será motivo de conversación en otro issue. 😄

[2017-05-09 17:21] cesarfrick commented on #57
Creo que la idea de @osnoser1 es la más conveniente para este caso, tiene mucho sentido

[2017-05-09 17:32] leocabeza commented on #58
Creo que la implementación sería muy similar a la de #35

[2017-05-09 17:35] dianjuar commented on #58
@leocabeza es verdad... Abrí un duplicado

[2017-05-09 17:48] Villanuevand opened #59 "Actualización de enlace a SEMVER - README.md"
**Estoy enviando un ...**  (marque con una "x")
[code]

**Comportamiento Actual**
En el `readme.md` hay un enlace a el sitio oficial de SEMVER, pero en ingles.

**Comportamiento Esperado**
Que el enlace a SEMVER, que se encuentra en el `readme.md` apunte al site en español.

**Reproducción del Problema**
_No aplica_

**Cual es el motivo / Caso util para cambiar el comportamiento?**
Facilitar la le

[2017-05-10 01:22] leocabeza commented on #57
Este cambio ya quedó en: https://github.com/ngVenezuela/wengy-ven/releases/tag/v1.1.1

[2017-05-10 01:22] #57 closed, assigned to leocabeza

[2017-05-10 03:23] leocabeza commented on #51
Cerrado en https://github.com/ngVenezuela/wengy-ven/pull/61

[2017-05-10 03:23] #51 closed, assigned to Villanuevand, leocabeza

[2017-05-10 03:31] leocabeza commented on #53
Supongo que ponerse de acuerdo con alguna, @Villanuevand. Pues la de airbnb no me parece tan mal, si tienen alguna otra sugerencia, es bienvenida.

[2017-05-10 10:26] ajsb85 commented on #57
+1 (v1.1.0)

[2017-05-10 15:00] leocabeza commented on #59
De momento, la versión en español está en v2.0.0-rc.2, no sé si sea lo más ideal, o se deja el enlace y esperemos por la actualización a v2.0.0. Enlace: http://semver.org/lang/es/

[2017-05-10 15:02] leocabeza commented on #35
Sería bueno un update de esta funcionalidad @osnoser1 @Villanuevand. Yo tengo disponibilidad para trabajar en ella.

[2017-05-10 15:22] leocabeza opened #62 "Publicar enlaces del grupo @ngVenezuela a grupo de Admins"
**Estoy enviando un ...**  (marque con una "x")
[code]

**Comportamiento Actual**
No existe esta funcionalidad.

**Comportamiento Esperado**
Cuando un usuario coloque un enlace, enviar enlace al grupo de administradores (@ngVenezuela/admins). Sería ideal tener una lista negra de patrones de algunas URL (Ej: gist.github.com) y también algún tipo de throttle para evitar algún abuso.

**Reproducción

[2017-05-10 15:51] Villanuevand commented on #59
Podría colocarse para que los que estén investigando como colaborar en este proyecto.

Y estár atento a el release estable...

[2017-05-10 16:41] leocabeza commented on #59
Si, de acuerdo.

[2017-05-10 23:33] leocabeza commented on #58
Esto no era un duplicado, aquí haces referencia a wengy, allá se hace referencia a Angular @dianjuar

[2017-05-11 04:48] leocabeza opened #63 "Integrar el bot con API.AI"
**Estoy enviando un ...**  (marque con una "x")
[code]

**Comportamiento Actual**
El bot no interactua

**Comportamiento Esperado**
Integrar al bot con https://api.ai/ para que pueda mantener conversaciones sencillas o responder preguntas comúnes.

**Reproducción del Problema**
No aplica

**Cual es el motivo / Caso util para cambiar el comportamiento?**
El bot siempre recibe preguntas y/o mencione

[2017-05-11 15:14] osnoser1 commented on #35
Hola @leocabeza, no he tenido disponibilidad en trabajar con esa característica, mas sin embargo con todo el movimiento de wengy me había puesto a trabajar en la integración, si puedes y quieres dame este fin de semana pasar trabajar en la característica, y hago un pull para que veas los cambios y cualquier cosa trabajamos juntos, te parece?

[2017-05-11 20:33] davidjsalazarmoreno commented on #63
Esto esta muy interesante.

[2017-05-11 20:38] davidjsalazarmoreno commented on #63
Skynet-wengy

[2017-05-14 13:24] leocabeza commented on #35
Si @osnoser1, me parece bien. Avisame cualquier cosa.

[2017-05-14 17:56] leocabeza commented on #53
Se implementó la guía de estilos de `airbnb`, y se modificó el archivo `.eslintrc.json` para incluirla en #66 .

[2017-05-14 17:56] #53 closed, assigned to nobody

[2017-05-14 22:46] #59 closed, assigned to Villanuevand, leocabeza

[2017-05-14 22:46] #63 closed, assigned to leocabeza

[2017-05-15 17:18] osnoser1 opened #70 "Uso de .editorconfig."
**Estoy enviando un ...**  (marque con una "x")
[code]

**Comportamiento Actual**
Al utilizar el editor a la hora de hacer tabulaciones, los saltos de lineas al final del archivo, la codificación, entre otras cosas, toma en cuenta la configuración predeterminada del usuario, lo que produce que a la hora de formatear no siga las convenciones de estilos especificadas.

**Comportamiento Esperado**
Al

[2017-05-15 17:21] osnoser1 commented on #70
Propuesta de .editorconfig.

[code]

[2017-05-15 17:33] Villanuevand commented on #70
@osnoser1 ¡Listo!

Haz el `pull request` y vamos a cerrar este issue, si hay sugerencias de mejora, pues que hagan `pr` y listo!

¿Sin problemas verdad?

¡'Gracias por la iniciativa!

[2017-05-15 18:00] osnoser1 commented on #70
Excelente... :D

[2017-05-16 02:44] osnoser1 commented on #70
Solucionado por #71

[2017-05-16 02:44] #70 closed, assigned to osnoser1

[2017-05-17 20:24] leocabeza opened #74 "Modularizar los comportamientos del bot, para que otras comunidades puedan utilizarlo"
**Estoy enviando un ...**  (marque con una "x")
[code]

**Comportamiento Actual**
No existe

**Comportamiento Esperado**
Se espera que el _comportamiento_ de este bot, se pueda encapsular en módulos y/o clases, de tal manera que se puedan implementar sólo los _features_ necesarios para cada bot y personalizarlo para cada comunidad.

Ejemplo:

Wengy puede (A la fecha del 17 Abril del 2017):

- Dar

[2017-05-17 20:26] leocabeza commented on #74
¿Se entiende @Villanuevand @edwinvrgs?

[2017-05-18 01:23] osnoser1 commented on #74
@leocabeza, y si en vez de separar el código en distintos repositorios, más bien se utiliza un enfoque estilo [Angular](https://github.com/angular/angular/tree/master/packages)?

Me explico:

En su repo tienen esta estructura:

[code]

Cada carpeta de esas es un módulo totalmente independiente, cada uno con su respectivo `package.json,` y pudiéndose descargar de `npm`, y los paquetes se llaman `@a

[2017-05-18 01:28] osnoser1 commented on #74
Aunque leí otro repo, y por mi mente pasó un repo por cada feature...
Pero por lo que entiendo, un repo para todos los módulos, y otro donde sea Wengy como tal y los use.
¿Es así como lo comentas? 🙄

[2017-05-18 03:08] leocabeza commented on #74
Pues igual no hay nada definido. Y si, así como comentas es como se me ocurre @osnoser1 , aunque pensandolo bien no sé si sea la mejor manera, porque cada módulo estaría con sus propias dependencias...

Ejemplo: Nosotros utilizamos `node-fetch` para hacer peticiones _http_. Entonces... ¿Qué pasa si alguien quiere utilizar `axios` u otra libreria para hacer peticiones _http_ a sus proyetos?

Otro c

[2017-05-21 19:44] leocabeza commented on #29
Cerrado en #77

[2017-05-21 19:44] #29 closed, assigned to yossely, dianjuar

[2017-05-22 12:25] osnoser1 commented on #58
Muchachos, si no tienen inconvenientes me gustaría asignarme esta tarea, ya la tengo casi lista, ustedes me dirán si les parece.

![photo_2017-05-22_08-17-21](https://cloud.githubusercontent.com/assets/1179744/26308631/048b286c-3ec8-11e7-876b-29f0a5da1c89.jpg)

[2017-05-22 12:38] Villanuevand commented on #58
Si ya la tienes casí lista es toda tuya @osnoser1 ...
Ahi te la asigno...

¡Esta quedando brutal!

[2017-05-22 14:54] #35 closed, assigned to osnoser1

[2017-05-22 14:54] #58 closed, assigned to osnoser1

[2017-05-22 16:22] osnoser1 commented on #50
El método de commits me parece excelente.
Abre la posibilidad de automatizar la generación del changelog y el número de versión.

Con respecto a la plantilla de los PR, aquí esta la del equipo de [Angular](https://github.com/angular/angular/blob/master/.github/PULL_REQUEST_TEMPLATE.md) y este es un [ejemplo](https://github.com/angular/angular/pull/16751) de como la usan.

Se podría adaptar a nuest

[2017-05-23 00:22] leocabeza opened #83 "Corregir bug de últimos tuits"
**Estoy enviando un ...**  (marque con una "x")
[code]

#29

**Comportamiento Actual**
Cuando hay un tuit nuevo de la cuenta `ngVenezuela`, el bot trae los _últimos_ tuits.

**Comportamiento Esperado**
Cuando haya un tuit nuevo de la cuenta `ngVenezuela`, traer sólo el tuit publicado.

**Reproducción del Problema**
Este problema se notó ya en producción, tocaría configurar las variables de twitter

[2017-05-23 00:31] leocabeza opened #84 "Mejorar el README.md para con las contribuciones"
**Estoy enviando un ...**  (marque con una "x")
[code]

**Comportamiento Actual**
No está claro como contribuir de una manera más clara, desde el momento que obtenemos el token del bot, hasta como configurar los tokens de twitter, o como obtener el `groupId` para hacer pruebas en nuestro entorno de desarrollo.
Así mismo, hay un `typo` aquí: https://github.com/ngVenezuela/wengy-ven#installación

**

[2017-05-23 00:39] leocabeza commented on #4
Este issue no ha tenido mucha actividad ni tracción en los últimos meses. ¿Que podríamos hacer con este issue? @ngVenezuela/admins

[2017-05-23 16:33] dianjuar commented on #84
### Excelente!
Opino que lo mejor es hacer una página en la wiki del repo y en el ReadMe.md hacemos referencia a la página.

[2017-05-23 19:23] JMEspiz commented on #4
@leocabeza yo creo que esta info se puede recoger con un link a google forms. El mismo que se llena para saber por que medio conocieron la comunidad.

[2017-05-23 19:26] Villanuevand commented on #4
A mi criterio, descartarla.

@JMEspiz No, la encuesta no se está preguntando ubicación. Solo preguntamos sobre el canal por el que llego a la comunidad.

@leocabeza Sientete libre de cerrar el issue cuando quieras...

[2017-05-23 19:28] JMEspiz commented on #4
@Villanuevand exacto, la encuesta no pregunta la ubicación. Pero si en alguna comunidad quieren usar wengy y tienen esta necesidad pueden facilmente usar la opción de google form.

[2017-05-25 03:52] leocabeza commented on #4
Yo creo que está sería una característica totalmente distinta @JMEspiz.
Si hay algún interés, podemos abrir más adelante este issue... de momento lo pongo cerrado.

[2017-05-25 03:52] #4 closed, assigned to nobody

[2017-05-25 04:04] leocabeza opened #88 "Utilizar la implementación de releases angular/wengy para con las entradas del blog"
**Estoy enviando un ...**  (marque con una "x")
[code]

**Comportamiento Actual**
Se utiliza un módulo propio con varias dependencias (src/events/blog.js) que es poco mantenible.

**Comportamiento Esperado**
Utilizar la misma implementación de los releases de github (con superfeedr incluído) para esta funcionalidad.

**Reproducción del Problema**
No aplica

**Cual es el motivo / Caso util para cam

[2017-05-25 20:54] leocabeza opened #89 "Traer solo tuits que no sean respuestas"
**Estoy enviando un ...**  (marque con una "x")
[code]

**Comportamiento Actual**
Trae todos los tuits de la cuenta de _ngVenezuela_

**Comportamiento Esperado**
Traer solo tuits que no sean respuestas, ya que no tiene sentido que las traiga y las coloque en el grupo.

**Reproducción del Problema**
No aplica

**Cual es el motivo / Caso util para cambiar el comportamiento?**
Mejora de la publicació

[2017-05-26 00:51] leocabeza commented on #84
De acuerdo @dianjuar

[2017-05-26 01:00] leocabeza opened #90 "Crear un comando para crear un gist a petición"
**Estoy enviando un ...**  (marque con una "x")
[code]

**Comportamiento Actual**
No existe

**Comportamiento Esperado**
Cuando el usuario quiera compartir un código y no sepa utilizar un servicio tipo pastebin, gist o similares, podría  utilizar el comando `/gist` o `/codigo` y el Bot automáticamente le generaría un gist.

Esto implicaría que se tendría que tener algún tipo de control para evitar

[2017-05-26 17:24] leocabeza commented on #50
Entonces estamos de acuerdo que debemos cambiar es el Template de PR?

Si es así, me gusta mucho el template que tiene el equipo de angular que comentó @osnoser1

[2017-05-26 18:03] Villanuevand commented on #50
@leocabeza  Si definitivamente debemos...
Y revisar si el de `PR` puede evolucionar para mejorar ...

[2017-05-26 18:06] leocabeza commented on #50
Bueno, ya yo di mi opinión @Villanuevand, ¿Qué necesitamos lograr para dar esta tarea como terminada?

[2017-05-26 18:08] Villanuevand commented on #50
@leocabeza Definir cómo sería el nuevo template y armarlo...
¡basicamente eso!

[2017-05-26 21:11] leocabeza commented on #84
Ya comencé a hacer las modificaciones, pueden echarle un ojo y me comentan cualquier cosa, entre hoy y mañana la termino:

https://github.com/ngVenezuela/wengy-ven/wiki/Instrucciones-para-colaborar-con-el-proyecto

[2017-05-27 03:08] leocabeza commented on #84
Cerrado en #92, cualquier cosa se abre otro issue para editar lo que está en el wiki

[2017-05-27 03:08] #84 closed, assigned to leocabeza

[2017-05-27 16:21] dianjuar commented on #84
Excelente!

Lo que ni me quedó claro es para que sirve el ngrok

[2017-05-27 16:44] leocabeza commented on #88
Cerrado en #93

[2017-05-27 16:44] #88 closed, assigned to leocabeza

[2017-05-27 18:20] leocabeza opened #94 "Agregar Ionic y Nativescript a la lista de releases a seguir"
**Estoy enviando un ...**  (marque con una "x")
[code]

**Comportamiento Actual**
No existe

**Comportamiento Esperado**
Cada vez que haya una nueva versión de Nativescript o Ionic, mandar un mensaje al grupo.

**Reproducción del Problema**
No aplica

**Cual es el motivo / Caso util para cambiar el comportamiento?**
Frameworks relacionados con Angular

**Por favor cuentamos sobre tu ambiente de de

[2017-05-27 20:08] leocabeza commented on #89
Cerrado en #95

[2017-05-27 20:08] #89 closed, assigned to leocabeza

[2017-05-27 20:08] leocabeza commented on #83
Cerrado en #95

[2017-05-27 20:08] #83 closed, assigned to leocabeza

[2017-05-27 20:16] leocabeza commented on #84
@dianjuar hace unos días se hizó una modificación para que los *updates* de Telegram nos llegaran directamente a nuestro mini-servicio en express, para que Telegram pueda _vernos_ necesitamos tener un dominio/IP pública, y *ngrok* nos permite exponer nuestra maquina de desarrollo a Internet, a través de un tunel. ¿Me explique bien?

[2017-05-27 20:50] leocabeza commented on #94
Cerrado en #96

[2017-05-27 20:50] #94 closed, assigned to leocabeza

[2017-05-27 20:52] leocabeza commented on #90
La restricción de comandos también aplicaría para #55

[2017-05-27 20:54] leocabeza commented on #62
Creo que para este issue también tendría que implementarse algún tipo de control, como en #90

[2017-05-28 01:33] dianjuar commented on #84
@leocabeza ok ok... Leyendo sobre entornos de trabajo me topé curiosamente con ngrok y lo entendí.

[2017-05-28 03:59] leocabeza opened #98 "Implementar un cliente de redis para controlar comandos"
**Estoy enviando un ...**  (marque con una "x")
[code]

**Comportamiento Actual**
No existe

**Comportamiento Esperado**
Implementar un cliente de redis para controlar comandos. De esto depende: #36 #55 #62 #90

**Reproducción del Problema**
No aplica

**Cual es el motivo / Caso util para cambiar el comportamiento?**
Controlar la cantidad de comandos que un usuario puede hacer en un intervalo de t

[2017-05-29 00:24] leocabeza commented on #98
Cerrado en #99

[2017-05-29 00:24] #98 closed, assigned to leocabeza

[2017-06-04 21:20] leocabeza commented on #55
Cerrado en #101

[2017-06-04 21:20] #55 closed, assigned to leocabeza

[2017-06-04 23:28] leocabeza commented on #90
Cerrado en #102

[2017-06-04 23:28] #90 closed, assigned to leocabeza

[2017-06-05 00:39] leocabeza opened #103 "Nuevos comandos que se crean desde el chat se ejecuten con el sufijo @WengyBot"
**Estoy enviando un ...**  (marque con una "x")
[code]

**Comportamiento Actual**
Al empezar a escribir `/`, nos sale una lista de comandos, al hacer click se envía el chat: `/comando@WengyBot` lo cual no cumple con la condición de ejecutar el comando.

**Comportamiento Esperado**
Al escribir `/comando` o elegir `/comando@WengyBot` desde la lista donde se escribe un mensaje, se ejecute como se esp

[2017-06-05 14:28] leocabeza opened #104 "Da los buenos días múltiples veces"
**Estoy enviando un ...**  (marque con una "x")
[code]

**Comportamiento Actual**
![](http://i.imgur.com/VfjDnVM.png)

**Comportamiento Esperado**
Si alguien da los buenos días, no debería volver a darlos de nuevo

**Reproducción del Problema**
Esperar que de los buenos días, enviar un mensaje de buenos días.

**Cual es el motivo / Caso util para cambiar el comportamiento?**
Comportamiento no dese

[2017-06-05 16:12] leocabeza opened #105 "No públicar tuits a los que le hacen RT"
**Estoy enviando un ...**  (marque con una "x")
[code]

**Comportamiento Actual**
Publica todos los tuits de la cuenta ngVenezuela, y también publica el tuit si se le hace RT desde cualquier cuenta

**Comportamiento Esperado**
Solo publicar al grupo los tuits publicados

**Reproducción del Problema**
Hacer RT a cualquier tuit de la cuenta ngVenezuela

**Cual es el motivo / Caso util para cambiar e

[2017-06-06 02:16] leocabeza commented on #105
Cerrado en #106

[2017-06-06 02:24] leocabeza commented on #103
Cerrado en #107

[2017-06-06 02:24] #103 closed, assigned to nobody

[2017-06-07 14:55] leocabeza commented on #104
Cerrado en #110

[2017-06-07 14:55] #104 closed, assigned to nobody

[2017-06-07 14:58] leocabeza opened #111 "Hacer el README más legible y resaltar las características del bot"
**Estoy enviando un ...**  (marque con una "x")
[code]

**Comportamiento Actual**
No está claro que hace el bot y hay algunos apartados que ya están en el wiki

**Comportamiento Esperado**
Explicar con imagenes y texto lo que hace el bot

**Reproducción del Problema**
No aplica

**Cual es el motivo / Caso util para cambiar el comportamiento?**
Que quede claro que hace el bot

**Por favor cuentamos

[2017-06-07 20:19] leocabeza opened #112 "Crear un CHANGELOG"
**Estoy enviando un ...**  (marque con una "x")
[code]

**Comportamiento Actual**
No existe

**Comportamiento Esperado**
Crear un archivo CHANGELOG.md y mantenerlo actualizado con cada release.
Ejemplo:

https://github.com/facebook/react/blob/master/CHANGELOG.md y https://github.com/facebook/react/releases

**Reproducción del Problema**
No aplica

**Cual es el motivo / Caso util para cambiar el co

[2017-06-10 23:36] leocabeza opened #113 "Cambiar subscripción de eventos de github"
**Estoy enviando un ...**  (marque con una "x")
[code]

**Comportamiento Actual**
Utiliza superfeedr para obtener releases de los repos

**Comportamiento Esperado**
Utilizar el API de github: https://developer.github.com/v3/activity/events/types/#releaseevent

Asimismo, mostrar el contenido del changelog (si existe) para ese release.

**Reproducción del Problema**
No aplica

**Cual es el motivo /

[2017-06-12 16:13] leocabeza commented on #105
Hay que revisar, no está mostrando algunos tuits

[2017-06-14 21:31] leocabeza opened #114 "Crear configuración de CircleCI"
**Estoy enviando un ...**  (marque con una "x")
[code]

**Comportamiento Actual**
No existe

**Comportamiento Esperado**
Generar una configuración en el root del repo para hacer CI con CircleCI (https://circleci.com) en el proyecto.

**Reproducción del Problema**
No existe

**Cual es el motivo / Caso util para cambiar el comportamiento?**
Despliegue automático cuando hay un nuevo commit en la rama

[2017-06-14 21:43] JuanDelgadillo commented on #114
👏🏻

[2017-06-14 22:03] leocabeza opened #115 "Colocar tarea "linter" en el package.json"
**Estoy enviando un ...**  (marque con una "x")
[code]

**Comportamiento Actual**
No existe

**Comportamiento Esperado**
Crear una tarea en el `package.json`, de tal manera, que antes de que el usuario envíe un commit, la pueda correr y verificar que no tiene errores de `eslint`, esto también lo haría CircleCI (#114). También habría que agregar `eslint` y sus plugins como `devDependencies` para qu

[2017-06-17 18:36] leocabeza commented on #105
Cerrado en #116

[2017-06-17 18:36] #105 closed, assigned to leocabeza

[2017-06-17 19:52] leocabeza commented on #115
Cerrado en #117

[2017-06-17 19:52] #115 closed, assigned to leocabeza

[2017-06-17 20:43] leocabeza commented on #113
Investigando un poco a fondo, resulta que `events` funciona sobre el REST API, y devuelve todos los eventos. La única manera de que nos llegué una notificación en vivo (directamente de github) es configurar el repo que queremos seguir, con webhooks, y dado que se siguen varios repos y no tenemos el control, queda de momento como se hizo inicialmente, con superfeedr.

[2017-06-17 20:43] #113 closed, assigned to leocabeza

[2017-06-17 23:41] leocabeza commented on #114
Cerrado en #118

[2017-06-17 23:41] #114 closed, assigned to leocabeza

[2017-06-25 23:35] leocabeza commented on #111
Cerrado en #119

[2017-06-25 23:35] #111 closed, assigned to leocabeza

[2017-06-30 20:38] leocabeza commented on #50
Cerrado en #120

[2017-06-30 20:38] #50 closed, assigned to Villanuevand, leocabeza

[2017-06-30 20:44] leocabeza commented on #74
Es importante que se deben comentar todas las funciones con [jsdoc](http://usejsdoc.org/) junto con este issue, y también a mi parecer, agregar pruebas unitarias a todo

[2017-07-22 13:51] leocabeza opened #121 "Aplicar JSDoc a todas las clases, métodos y funciones"
**Estoy enviando un ...**  (marque con una "x")
[code]

[Docs](http://usejsdoc.org/)

Pienso que se tiene que hacer en inglés ya que la mayoría del código está así.

**Comportamiento Actual**
No existe

**Comportamiento Esperado**
Que todas las funciones, metodos y clases manejen JSDoc

**Reproducción del Problema**
No aplica

**Cual es el motivo / Caso util para cambiar el comportamiento?**
Mejor

[2017-07-22 16:16] leocabeza commented on #112
Cerrado en #122

[2017-07-22 16:16] #112 closed, assigned to leocabeza

[2017-08-14 04:30] leocabeza commented on #62
Arreglado en #123

[2017-08-14 04:30] #62 closed, assigned to leocabeza

[2017-08-21 00:21] leocabeza commented on #121
Lista en #128

[2017-08-21 00:21] #121 closed, assigned to leocabeza

[2017-10-03 18:43] leocabeza opened #129 "Capturar excepción al tratar los caracteres especiales en Twitter"
**Estoy enviando un ...**  (marque con una "x")
[code]

**Comportamiento Actual**

![image](https://user-images.githubusercontent.com/2538304/31142634-7e355796-a840-11e7-9b9d-a7faa53a916a.png)

**Comportamiento Esperado**

Debería capturar o parsear bien los caracteres especiales

**Reproducción del Problema**

Hacer RT a este tuit desde la cuenta de `ngVenezuela`: https://twitter.com/Web_Dev_Proz

[2017-10-07 17:09] #129 closed, assigned to leocabeza

[2017-10-10 16:28] leocabeza opened #132 "Agregar utm_source a enlaces que no sean Twitter, Github"
**Estoy enviando un ...**  (marque con una "x")
[code]

**Comportamiento Actual**
N/A

**Comportamiento Esperado**
Editar mensajes de enlaces para agregar `?utm_source=ngvenezuela`
 a enlaces que no sean Github o Twitter

**Reproducción del Problema**
N/A

**Cual es el motivo / Caso util para cambiar el comportamiento?**
Mejora para seguimientos

**Por favor cuentamos sobre tu ambiente de desarrol

[2017-10-26 14:46] leocabeza opened #133 "Implementar docker"
**Estoy enviando un ...**  (marque con una "x")
[code]

**Comportamiento Actual**
No aplica

**Comportamiento Esperado**
Utilizar docker para desarrollo y producción para hacer más fácil el desarrollo a nuevos contribuidores

**Reproducción del Problema**
No aplica

**Cual es el motivo / Caso util para cambiar el comportamiento?**
Utilizar docker para desarrollo y producción para hacer más fácil e

[2017-10-30 22:15] dianjuar commented on #133
Hola @leocabeza. He creado varios [docker-compose](https://github.com/bikecoders/docker-compose_wordpress) y me apasiona el asunto.

Pudiese ayudar con esto... Podrías indicar cuales son los programas que necesita tener instalado el repo para correr?
De momento se que node y npm...

[2017-10-30 22:24] leocabeza commented on #133
Hola @dianjuar, los programas requeridos son:

- Node v7.10
- Redis server v3.2.9

`ngrok` si bien se menciona en la wiki, va a pasar como dependencia del proyecto, entonces no sería necesario.

Hay un script que se tiene en  ambiente de prueba y de producción que lo que haces es hacer fetch de los nuevos cambios y lanzar la aplicación a través de un comando, quizás esto también sea necesario hace

[2017-10-30 22:27] leocabeza commented on #74
Quizás esto sería una buena opción:

https://github.com/lerna/lerna

[2017-12-13 03:43] leocabeza opened #134 "Implementar Botan.io"
**Estoy enviando un ...**  (marque con una "x")
[code]

**Comportamiento Actual**
No existe

**Comportamiento Esperado**
Implementar analytics para el bot: http://botan.io/

**Reproducción del Problema**
No aplica

**Cual es el motivo / Caso util para cambiar el comportamiento?**
Permite a los administradores del grupo conocer la funcionalidad que le dan al bot

**Por favor cuentamos sobre tu ambi

[2017-12-13 09:41] Villanuevand commented on #134
¡Genial Leo! GENIAL....

[2017-12-16 21:54] leocabeza commented on #132
Esto quedaría deprecado con #134

[2017-12-16 21:54] #132 closed, assigned to nobody

[2018-02-19 12:18] abr4xas opened #136 "Creación de Gist anonimos."
**Estoy enviando un ...**  (marque con una "x")
[code]

**Comportamiento Actual**
Actualmente se crean gist anonimos de forma automatica

**Comportamiento Esperado**

_No aplica_

**Reproducción del Problema**

_No aplica_

**Cual es el motivo / Caso util para cambiar el comportamiento?**

Deprecation notice: Removing anonymous gist creation
https://github.com/blog/2503-deprecation-notice-removing

[2018-05-09 22:47] leocabeza commented on #74
Tenemos que hacer un roadmap y hacer los cambios poco a poco

[2018-05-14 23:46] leocabeza opened #137 "Migrar CircleCI a la versión 2"
**Estoy enviando un ...**  (marque con una "x")
[code]

**Comportamiento Actual**
Actualmente se utiliza la 1.0

**Comportamiento Esperado**
Migrar a la 2.0, ya que la 1.0 será deprecada el 31 de Agosto.
https://circleci.com/blog/sunsetting-1-0/

**Reproducción del Problema**
No aplica

**Cual es el motivo / Caso util para cambiar el comportamiento?**
Deprecación del servicio. Mirar guias de migra

[2018-05-15 17:14] dianjuar commented on #74
Si empezamos a hablar de patrones de diseño ?

[2018-05-15 21:27] Villanuevand commented on #74
@dianjuar Tell me more!

[2018-05-17 21:23] leocabeza opened #138 "Usar la api de Account Activity de Twitter"
**Estoy enviando un ...**  (marque con una "x")
[code]

**Comportamiento Actual**
Utilizamos los streams de twitter

**Comportamiento Esperado**
Utilizar la nueva api de Twitter:

https://twitter.com/TwitterDev/status/982346370882461696?s=20
https://developer.twitter.com/en/docs/accounts-and-users/subscribe-account-activity/overview

La librería que utilizamos:
https://github.com/ttezel/twit/issue

[2018-06-18 13:51] osnoser1 opened #139 "Eliminar mensajes de bienvenida que contenga algún enlace http/s."
**Estoy enviando un ...**  (marque con una "x")
[code]

**Comportamiento Actual**

Los mensajes de bienvenida al grupo con enlaces hay que borrarlos manualmente.

**Comportamiento Esperado**

El bot debería borrar este tipo de mensajes.

**Reproducción del Problema**

_No aplica_

**¿Cuál es el motivo / Caso util para cambiar el comportamiento?**

Automatización.

**Por favor cuéntanos sobre tu am

[2018-06-18 13:53] JuanDelgadillo commented on #139
🎉

[2018-09-10 22:19] leocabeza opened #140 "Migrar a Zeit"
**Comportamiento Actual**
Se usa un hosting pago para correr el bot.

**Comportamiento Esperado**
Utilizar https://zeit.co/docs/other/faq

**Reproducción del Problema**
_No aplica_

**Cual es el motivo / Caso util para cambiar el comportamiento?**

**Por favor cuentamos sobre tu ambiente de desarrollo:**
No mantener un servidor privado

[2018-09-11 12:48] Villanuevand commented on #140
Esto me parece muy bueno!

Podrías darnos un poco más de contexto de como funciona Zeit y sus beneficios ?

[2018-09-11 13:37] dianjuar commented on #74
Qué les parece si en vez de implementar una arquitectura desde 0 utilizamos una ya estructurada, conocida y documentada?

https://nestjs.com/
Muchos de nosotros sabremos cómo movernos en _nestjs_ ya que está inspirado fuertemente en la arquitectura que tiene Angular.

El [module pattern](https://docs.nestjs.com/modules) ya está implementado al mejor estilo de Angular. Cada una de las funciones que

[2018-09-11 14:19] leocabeza commented on #74
Yo creo que es mucha complejidad añadida @dianjuar, ¿Y si dejamos todo configurable para que el que quiera utilizar wengy-ven solo le haga fork y ya?

[2018-09-11 14:24] leocabeza commented on #140
Lo que se quiere es que solo nos preocupemos por el desarrollo, y a la hora de hacer deploy o probar nuestro bot, corremos un comando.

Creo que su plan para OSS, nos puede ser más que suficiente:

https://zeit.co/pricing

[2018-09-11 14:56] Villanuevand commented on #140
Great! Si quieres podemos hacer un Milestone sobre ello ... y poner tareas para que la gente pueda ayudar.

[2018-10-15 19:51] leocabeza commented on #138
Esto es más un cambio de twit que de nuestro lado, aunque si alguien se anima se podría hacer un wrapper propio utilizando el stream.

[2018-10-15 19:51] #138 closed, assigned to nobody

[2018-10-19 02:28] moisesmorillo commented on #134
Toca mirar otra plataforma de analytics porque esta quedo deprecada https://github.com/botanio/sdk

[2018-10-19 04:01] #136 closed, assigned to nobody

[2018-10-19 05:04] leocabeza commented on #134
Si @moisesmorillo, yo dejé esto abierto pero la razón por la cual no lo implementé es porqué estaba muy crudo, en la página destacan varias opciones, pero no he trabajado con ninguna:

https://chatbase.com/welcome
https://www.dashbot.io/
https://botanalytics.co/

[2018-10-23 19:08] leocabeza opened #143 "Migrar a DialogFlow V2"
**Estoy enviando un ...**  (marque con una "x")
[code]

https://blog.dialogflow.com/post/migrate-to-dialogflow-api-v2/
https://dialogflow.com/docs/reference/v1-v2-migration-guide

**Comportamiento Actual**
No aplica

**Comportamiento Esperado**
Actualizar el api/libreria de dialogflow

**Reproducción del Problema**
No aplica

**Cual es el motivo / Caso util para cambiar el comportamiento?**
Deprec

[2018-10-28 02:30] leocabeza commented on #137
Cerrado en #144

[2018-10-28 02:30] #137 closed, assigned to leocabeza

[2018-11-26 00:56] leocabeza opened #145 "Reemplazar libreria twit"
**Estoy enviando un ...**  (marque con una "x")
[code]

Esto podría ayudar: https://github.com/twitterdev/twitter-webhook-boilerplate-node

**Comportamiento Actual**

Actualmente no funciona la integración con twitter

**Comportamiento Esperado**

Activar la integración de twitter nuevamente

**Reproducción del Problema**

No aplica

**Cual es el motivo / Caso util para cambiar el comportamiento?*

[2019-02-12 18:27] #140 closed, assigned to nobody

[2019-02-15 18:37] #143 closed, assigned to leocabeza

[2019-02-27 00:27] #134 closed, assigned to leocabeza

[2019-03-05 15:18] leocabeza commented on #139
¿Puedo tomar este @osnoser1?

Creo que lo puedo expander un poco más y hacer una funcionalidad de detectar miembros que hagan spam.

* A veces un usuario puede tener un nombre de usuario "www midominiospam com".
* O a veces un usuario que luce legítimo reenvía contenido desde el canal que tiene el spam.
* Se podría investigar y ver si se hace algo personalizado o alguna otra librería que nos ayude

[2019-04-02 03:54] osnoser1 commented on #139
Vale @leocabeza...
Por cierto, en estos días vi en un grupo que agregaron un bot que hacía que para que ingrese un nuevo miembro resolviera una captcha. Nunca lo había visto. Quizás esa también sea una solución viable.
¿Qué opinas?

[2019-04-04 22:32] leocabeza commented on #139
Sería ideal, pero, ¿como sería lai integración? ¿existe ya una solución en una librería o servicio? ¿o es un bot aparte de wengy?

[2019-05-02 01:43] #133 closed, assigned to dianjuar

[2019-05-16 01:34] #145 closed, assigned to osnoser1

[2019-09-20 18:11] #74 closed, assigned to leocabeza

[2020-03-01 01:42] leocabeza commented on #139
Yo creo que ya esto lo maneja join captcha bot

[2020-03-01 01:42] #139 closed, assigned to osnoser1

[2020-05-26 23:37] leonardo-globant opened #228 "Migrar a vercel 2.0"
**Estoy enviando un ...**  (marque con una "x")
[code]

**Comportamiento Actual**

El bot corre sobre la versión 1.0 de vercel que será muy pronto deprecada

**Comportamiento Esperado**

Migrar la aplicación a 2.0, que requiera que sea serverless

**Reproducción del Problema**

No aplica

**Cual es el motivo / Caso util para cambiar el comportamiento?**

Deprecación de la versión 1.0

**Por favor

[2020-05-26 23:40] #228 closed, assigned to nobody

[2020-05-26 23:42] leocabeza opened #230 "Migrar a vercel 2.0"
**Estoy enviando un ...**  (marque con una "x")
[code]

**Comportamiento Actual**

El bot corre sobre la versión 1.0 de vercel que será muy pronto deprecada

**Comportamiento Esperado**

Migrar la aplicación a 2.0, que requiera que sea serverless

**Reproducción del Problema**

No aplica

**Cual es el motivo / Caso util para cambiar el comportamiento?**

Deprecación de la versión 1.0

**Por favor

[2020-05-26 23:48] #230 closed, assigned to nobody

[2020-05-27 01:00] leocabeza opened #233 "Agregar pruebas unitarias"
**Estoy enviando un ...**  (marque con una "x")
[code]

**Comportamiento Actual**

**Comportamiento Esperado**

**Reproducción del Problema**

**Cual es el motivo / Caso util para cambiar el comportamiento?**

**Por favor cuentamos sobre tu ambiente de desarrollo:**

**_BORRAR ANTES DE HACER EL PR: Si necesitas un poco de ayuda con Markdown, no dejes de visitar [este enlace](https://guides.github.

[2020-05-27 01:00] leocabeza opened #234 "Agregar travisci para despliegue automático"
**Estoy enviando un ...**  (marque con una "x")
[code]

**Comportamiento Actual**

**Comportamiento Esperado**

**Reproducción del Problema**

**Cual es el motivo / Caso util para cambiar el comportamiento?**

**Por favor cuentamos sobre tu ambiente de desarrollo:**

**_BORRAR ANTES DE HACER EL PR: Si necesitas un poco de ayuda con Markdown, no dejes de visitar [este enlace](https://guides.github.

[2020-06-02 16:14] #234 closed, assigned to nobody

[2020-06-07 19:02] leocabeza opened #256 "The automated release is failing 🚨"
## :rotating_light: The automated release from the `master` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you could benefit from your bug fixes and new features.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sure you c

[2020-06-07 19:18] #256 closed, assigned to nobody

[2020-06-21 17:23] leocabeza opened #260 "Conventional commits + CONTRIBUTING.md"
**Estoy enviando un ...**  (marque con una "x")
[code]

**Comportamiento Actual**
Usamos conventional commits, pero no está reflejado en CONTRIBUTING.md

**Comportamiento Esperado**
Modificar el CONTRIBUTING.md a conventional commits, o personalizar conventional commits para que tome las reglas de CONTRIBUTING.md

**Reproducción del Problema**

**Cual es el motivo / Caso util para cambiar el compo

[2020-08-07 22:00] leocabeza opened #266 "Investigar pipedream para dar buenos días"
https://pipedream.com/@tod/cron-scheduler-workflow-p_mkC5B1/readme

[2020-08-09 21:23] #266 closed, assigned to nobody

[2020-08-12 17:05] leonardo-globant opened #270 "Usar el api de superfeedr para automatizar suscripciones"
**Estoy enviando un ...**  (marque con una "x")
[code]

**Comportamiento Actual**

**Comportamiento Esperado**

**Reproducción del Problema**

**Cual es el motivo / Caso util para cambiar el comportamiento?**

**Por favor cuentamos sobre tu ambiente de desarrollo:**

[2020-08-12 17:05] #270 closed, assigned to nobody

[2021-07-09 15:29] dianjuar opened #275 "Filtrar mensajes de nuevos Releases de Nx"
### **Estoy enviando un ...**  (marque con una "x")
[code]

### **Comportamiento Actual**

Actualmente, Nx ha cambiado su manera de hacer los releases intrudiciendo algunos que no aportan mucha información hacer de los cambios de la herramienta. [Ver aquí](https://t.me/ngvenezuela/57910)

Temporalmente se ha deshabilitado anunciar los cambios de Nx mientras se encuentra una manera de entender que

[2021-07-09 18:22] osnoser1 opened #276 "Migrar CI/CD a Github actions"
**Estoy enviando un ...**  (marque con una "x")
[code]

**Comportamiento Actual**

Actualmente el CI/CD con Travis no está funcionando.

**Comportamiento Esperado**
Debería desplegar la aplicación automáticamente.

**Reproducción del Problema**

Migrar a Github Actions.

**Cual es el motivo / Caso util para cambiar el comportamiento?**

Conocer dentro del mismo repositorio que está sucediendo con

[2021-07-09 18:23] osnoser1 commented on #276
Tomaré esto.

La parte más complicada es regenerar todos los tokens.